$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer:  #f8fafc;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #26a8ed;
$color__link-visited: #26a8ed;
$color__link-hover: #26a8ed;
$color__text-main: #404040;
$color__link-footer: #738a94;
$color__link-footer-dark: #343f44;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-footer:  #e5eff5;

$color__main-menu: hsla(0, 0%, 100%, .85);
$color__main-menu-hover: hsla(0, 0%, 100%, 1);
